.bodyHead {
  background-image: url('imagen/Portada.png');
  background-color: #cccccc;
 }

 .textcolor-1{
   color: #000000;
 }

 .textcolor-2{
   color: #cccccc;
 }


 header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../images/Portada.png");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/Portada.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 50vh;
    min-height: 40rem;
    padding-top: 52px;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.35rem;
  }
  header.masthead h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4.5rem;
  }
}

.ColorMasthead{
  color: #cccccc;
}

header.mastheadClass {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(92, 77, 66, 0.8)), to(rgba(92, 77, 66, 0.8))), url("../images/bg_1.jpg");
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/bg_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.mastheadClass h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.mastheadClass {
    height: 50vh;
    min-height: 40rem;
    padding-top: 52px;
    padding-bottom: 0;
  }
  header.mastheadClass p {
    font-size: 1.35rem;
  }
  header.mastheadClass h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  header.mastheadClass h1 {
    font-size: 4.5rem;
  }
}

.ColorMastheadClass{
  color: #cccccc;
}

.background-color1{
  background-color: #f8f8f8;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


section .section-title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
#footer {
    background: #ffffff !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #000000;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#000000;
}
#footer a {
    color: #000000;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#000000;
}
#footer ul.social li a:hover{
	color:#000000;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.padding-img {
  padding: 25px 25px 25px 25px;
}


.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}

.btn-floating{
  width: 100px;
}
#portfolio .container-fluid {
  max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgb(1, 190, 254);
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.divider-color{
  background-color: #000000;
}

.background-color1{
  background-color: #F0F0F0;
}

.background-color2{
  background-color: #F5F5F5;
}

.background-color3{
  background-color: #F8F8F8;
}
.background-footer{
  color: #FFF;
  background-color: #343a40;
}

.btn-outline-nav {
  color: #01befe;
  border-color: #01befe;
}

